.tbox {
	position:absolute;
	display:none;
	padding:14px 17px;
	z-index:900
}
#pts-box {
	padding:15px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#fff url(https://staging.static.points.com/buy/default/buy/images/preload.gif) no-repeat 50% 50%;
	border-right:1px solid #333;
	border-bottom:1px solid #333
}
#pts-mask {
	position:absolute;
	display:none;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:#000;
	z-index:800
}
#pts-box .pts-close-x {
	position:relative;
	top:2px;
}
#pts-box .tclose {
	position:absolute;
	top:10px !important;
	right:10px !important;
	width:80px;
	height:30px;
	cursor:pointer;
	font-family:helvetica,sans-serif;
	font-size:20px
}
#pts-box .pts-close-waiting {
	background:url(https://staging.static.points.com/buy/default/buy/images/closespinner.gif) no-repeat 100% 0;
	text-indent:-5000px;
	top:15px !important;
	right:19px !important;
}
#pts-box .pts-close-text {
	font-size: 12px;
}
